.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.container .cube {
  width: 300px;
  height: 300px;
  position: absolute;
  transform-style: preserve-3d;
  /*allows you to switch to 3d mode*/
  animation: spin 16s infinite linear;
  transition: all 0.3s;
  margin-left: -10%;
}
.container .cube .window {
  height: 70px;
  width: 60px;
  margin: 40px;
  background-image: url(fen.png);
  background-size: contain;
}
.container .face {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: black;
  background-image: url(texture.jpg);
  background-size: cover;
}
.container .bottom {
  transform: rotateX(-90deg) translateZ(100px);
  /*Rotate 3d Frame*/
}
.container .footer {
  transform: rotateX(-90deg) translateZ(-150px) translateY(-20px);
  width: 700px;
  height: 700px;
  margin-left: -200px;
  background-image: url(footer.jpg);
  background-size: cover;
}
.container .right {
  transform: rotateY(90deg) translateZ(300px);
  height: 300px;
  margin-top: -63px;
  border-top-left-radius: 225px;
  border-top-right-radius: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*Rotate 3d Frame*/
}
.container .left {
  transform: rotateY(-90deg) translateZ(100px);
  height: 300px;
  margin-top: -63px;
  border-top-left-radius: 225px;
  border-top-right-radius: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*Rotate 3d Frame*/
}
.container .front {
  transform: rotateX(0deg) translateZ(100px);
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*Rotate 3d Frame*/
}
.container .front .door {
  height: 120px;
  width: 80px;
  margin-bottom: -70px;
  background-image: url("door.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}
.container .small-head-left {
  transform: rotateY(-90deg) translateZ(100px);
}
.container .center-head {
  transform: rotateX(90deg) translateZ(100px) translateY(8px);
  height: 45px;
  width: 420px;
  margin-top: -8.5px;
  background-color: aqua;
  margin-left: -10px;
  background-image: url(head.jpg);
  background-size: cover;
}
.container .front-head {
  margin-top: -40px;
  transform: rotateX(40deg) translateZ(100px);
  height: 150px;
  background: #61433f;
  border: 1px solid;
  background-color: #eb573d;
  width: 420px;
  margin-left: -10px;
  background-image: url(head.jpg);
  background-size: cover;
}
.container .back-head {
  margin-top: -36px;
  transform: rotateX(-226deg) translateZ(100px);
  height: 150px;
  border: 1px solid;
  width: 420px;
  z-index: 999;
  margin-left: -10px;
  background-image: url(head.jpg);
  background-size: cover;
}
.container .back {
  transform: rotateX(-180deg) translateZ(100px);
  width: 400px;
  /*Rotate 3d Frame*/
}
.container .top {
  position: absolute;
  top: 0;
  left: 0;
  background-color: chartreuse;
  width: 400px;
  transform: rotateX(90deg) translateZ(100px);
}
@keyframes spin {
  from {
    transform: rotateX(-10deg) rotateY(40deg);
  }
  to {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.header {
  border-radius: 10px 50px 50px 50px/310px 100px 50px 50px;
  width: 200px;
  height: 200px;
  background: #61433f;
  border: 1px solid;
}/*# sourceMappingURL=style.css.map */